<section
  class="main-display"
  [class.main-display--cinematic]="cinematic()"
>
  @if (displayedMedia(); as media) {
    <figure class="media-figure">
      <div class="image-frame">
        <img
          [src]="media.source"
          [alt]="media.alt"
          [class.image-frame__image--contain]="
            media.fit === 'contain'
          "
        />

        @if (media.title || media.subtitle) {
          <figcaption class="media-caption">
            @if (media.title) {
              <strong>
                {{ media.title }}
              </strong>
            }

            @if (media.subtitle) {
              <span>
                {{ media.subtitle }}
              </span>
            }
          </figcaption>
        }
      </div>
    </figure>
  }
</section>
